<!DOCTYPE html>
<html lang="en">
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form class="form">
        <input name="email" value="user95@geon.com" />
        <input name="pw" value="1111" />
    </form>
    <button class="loginBtn">submit</button>
</body>
<script>
    $(".loginBtn").click(function(){
        console.log($(".form")[0])
        const form = $('.form')[0]
        const formData = new FormData(form)
        console.log(formData)

        $.ajax({
            url: "http://localhost:8080/api/login",
            dataType: 'text',
            contentType: false,
            processData: false,
            data: formData,
            method: 'post',
            success: function(res) {
                console.log(res)
                window.localStorage.setItem("token",res)

            },
            error: function(err) {
                console.log(err.responseText)
                const errMsg = err.responseJSON
                console.log(errMsg.message)
                alert(errMsg.message)
            }

        })
    })

</script>
</html>